.teaser {
    text-align: center;

    background-repeat: no-repeat;
    background-size: auto 380px;
    background-position: center top;
}

.teaser > div {
  position: relative;
  padding-top: 70px;
  background: rgb(82,117,109);
  background: linear-gradient(180deg, rgba(243, 118, 22, 0.7) 0%, rgba(43, 0, 121, 0.7) 100%);
  height: 370px;
}

.weatherText {
  position: relative;
  display: inline-block;
  background: var(--dark);
  line-height: 30px;
  letter-spacing: 2px;
  border-radius: 10px;
  min-width: 200px;
  font-size: 11px;
  padding: 0 15px;
  z-index: 1;
  color: var(--orange);
  text-transform: uppercase;
}

.teaser h1 {
  line-height: 1.1em;
  font-size: 2.2em;
}

.teaser p {
  max-width: 90%;
  margin: 0 auto;

  display: inline-block;
  font-size: 1.1em;
  padding: 7px 0 20px;
  color: #e1e1e1;
}

@media (min-width: 1100px) {
  .teaser {
    background-attachment: fixed;
    background-size: 100% auto;
  }
}

@media (min-width: 1500px) {
  .teaser { background-size: 1500px auto; }
}
