.box {
    position: relative;
    background: #294961;
    padding: 10px 20px 10px 65px;
    border-radius: 4px;
    margin: 60px 5px 0 5px;
}

.box svg {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 24px;
    transform: translateY(-50%);
    opacity: 0.8;
}

.box + .box {
    margin-top: 20px;
}