.popup {
    position: fixed;  
    z-index: 80;

    overflow-y: scroll;
    background-color: black;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;

    min-height: 300px;
    max-height: 100%;

    border-radius: 20px;
  }
  
  .content {
    overflow: auto;
    min-height: 200px;
    padding: 0 10px 10px 10px;
  }
