.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--second);
    width: 250px;
    height: 100vh;
    min-height: -webkit-fill-available;
    padding: 30px 0;
    overflow-y: auto;
    z-index: 70;
    will-change: transform;
    animation: slideInFromLeft .4s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

.menu h4 {
    background-color: #2f2938;
    padding: 5px 10px;
    transform: translateY(-1px);
    margin: 0 -4px;
}

.menu small {
    display: block;
    margin-top: -17px;
    padding: 5px 10px 15px 10px;

    font-style: italic;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--fifth);
}

.title {
    font-size: 27px;
    color: var(--white);
    padding: 15px 10px;
}

.button {
    position: fixed;
    right: 14px;
    top: 14px;
    width: 40px;
    z-index: 50;

    opacity: 1;
    background-color: var(--first);
    border-radius: 20px;

    transform: scale(1);

    will-change: transform;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.02);
}

.button button {
    display: none;
    border: none;
    height: 40px;
    width: 40px;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
    opacity: 0.85;
    color: var(--white);
    text-align: center;

    align-items: center;
    justify-content: center;
}

.button .openMenu {
    display: flex;
    color: var(--red);
}

.button img {
    display: inline-block;
    width: 24px;
}

.button svg {
    height: auto;
    width: 24px;
    vertical-align: middle;
}

.button button:hover {
    background-color: rgba(255,255,255,0.1);
    color: #f5a61a;
    border-radius: 50%;
    opacity: 1;
}

@keyframes slideInFromLeft {
	0% { transform: translateX(250px); }
	100% { transform: translateX(0); }
}

@media (min-width: 693px) {
    .button button {
        display: flex;
    }
    .button .openMenu {
        color: var(--fifth);
    }
}