.listItem {
    display: grid;
    grid-template-areas: 
        "img1 img2"
        "img1 img3"
        "h h"
        "p p";

    border-radius: 15px;
    background: var(--fourth);

    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.listItem:hover { transform: scale(1.01); }

.listItem h3 {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    grid-area: 'h';
    padding: 5px 15px 0 15px;
    font-weight: 800;
    line-height: 1.1;
}

.listItem small {
    display: block;
    grid-area: p;
    padding: 3px 15px 10px 15px;
    opacity: 0.6;
    letter-spacing: 1;
    font-style: italic;
    font-weight: 500;
}

.listItem div,
.listItem picture {
    min-height: 20px;
    background-color: rgba(255,255,255,0.5);
}

.listItem small + * { 
    grid-area: img1;
    height: 150px;
    border-radius: 15px 0 0 15px;
}
.listItem small + * + * { 
    grid-area: img2;
    border-radius: 0 15px 0 0;
    opacity: 0.9;
}
.listItem small + * + * + * {
    grid-area: img3;
    border-radius: 0 0 15px 0;
    opacity: 0.8;
}