.listItem {
    display: flex;
    gap: 7px;
    align-items: center;

    border-radius: 15px;
    background: var(--fourth);
    padding: 10px 20px;

    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.listItem:hover { transform: scale(1.01); }