.listItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 15px;
    background: var(--fourth);

    transform: scale(1);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.listItem:hover { transform: scale(1.01); }

.listItem h3 {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    grid-area: 'h';
    padding: 5px 15px 0 15px;
    width: 100%;
    font-weight: 800;
    line-height: 1.1;
}

.listItem small {
    display: block;
    width: 100%;
    padding: 3px 15px 10px 15px;
    opacity: 0.6;
    letter-spacing: 1;
    font-style: italic;
    font-weight: 500;
}

.listItem div,
.listItem picture {
    display: block;
    height: auto;
    width: calc(100% / 3);
    background-color: rgba(255,255,255,0.3);
    overflow: hidden;
}

.listItem div {
    padding-bottom: 42.5%;
}

.listItem img {
    width: 100%;
    display: block;
}

.listItem div:nth-child(odd),
.listItem picture:nth-child(odd) { opacity: 0.8; }