.signIn {
	padding: 20px 10px;
	padding-top: calc((100vh - 600px) / 2);
	width: 100%;
}

.logo {
	width: 100px;
	height: 100px;
	display: block;
    margin: 30px auto;
}

.register {
	text-align: center;
}

.register a {
	color: var(--red);
}