.rate {
    margin-bottom: 15px;
    padding: 10px 20px; 
    text-align: center;
    background: linear-gradient(145deg, #201b29, #272031);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 50px;
    box-shadow:  5px 5px 15px #221c2b,
    -5px -5px 15px #262031;
}

.rate button {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.349);
    transform: scale(1) rotate(0);
    transition: transform 0.3s;
}

.rate button svg {
    width: 40px;
    height: 40px;
    stroke-width: 0;
}

.rate button:hover {
    transform: scale(1.1) rotate(5deg);
    color: var(--white);
}