.container {
    margin-bottom: 15px;
    width: 100%;
}

.container > div {
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: var(--fourth);
}

.container .valid { border: 1px solid rgba(0, 210, 91, 0.5); }
.container .error, .container .invalid { border: 1px solid rgba(252, 66, 75, 0.5); }

.container label {
    display: block;
    color: var(--white);
    transition: 0.2s ease-in-out transform;
    font-size: 15px;
    padding-bottom: 10px;
}

.container .disabled, input:disabled {
    opacity: 0.5;
}