.chooser {
    background-color: #111218;
    border-radius: 27px;
  
    max-width: 350px;
    width: 85%;
    height: 55px;
    margin: 0 auto 15px auto;
  
      display: grid; 
      grid-template-rows: 55px;
    grid-template-columns: calc(100% / 3);
      grid-template-areas: "first second third";
  }
    
  .chooser svg { display: inline-block; }
  
.chooser button {
  text-align: center;
  border-radius: 27.5px;
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.3s background ease-in-out;
  will-change: background;
}

.chooser button:hover {
  background-color: #191C25;
} 

.chooser small {
  display: block;
  padding-top: 3px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 8px;
  color: rgba(252, 66, 74, 0.8);
}
  
  .first { grid-area: first; }
  .second { grid-area: second;  }
  .third { grid-area: third; }