.slots {
    padding: 20px 0;
    overflow: hidden;
}

.slots > div {
    display: block;
    background-color: rgba(255,255,255,0.05);

    transform: scale(1);

    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: transform 0.3s, background-color 0.9s;
}

.slots > div:nth-child(even) {
    background-color: rgba(255,255,255,0.02);
}

.slots span {
    display: inline-block;
    padding: 0 20px;
}

.slots > div:hover {
    transform: scale(1.005);
}

.slots p {
    margin: 0;
}