.reservation, .basic, .tools {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    padding: 10px;
}

/* columns */
.tools { grid-template-columns: repeat(1, 1fr); padding: 20px; }
.basic { grid-template-columns: repeat(2, 1fr); }
.reservation { grid-template-columns: repeat(1, 1fr); }

.dashItem {
    border-radius: 10px;
    padding: 55px 0 70px 0;
    text-align: center;
    background: linear-gradient(145deg, #272b37, #2e3341);

    color: #FFFFFF;
    overflow: hidden;
    height: 175px;
    opacity: 1;
    will-change: background, transform;
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dashItem small { display: inline-block; color: #6c7293; font-size: 14px; padding-top: 2px; }

.dashItem:hover {
    background-color: #333948;
    transform: scale(1.01);
}

.dashItem svg {
    display: block;
    width: 30px;
    padding-bottom: 5px;
    height: auto;
    margin: 0 auto;
}

.tools > div:nth-child(2) { text-align: right; }

.basic a { margin-bottom: 0; background-color: #2e5d67; } /* removes item margin */

@media (min-width: 693px) {
    .basic a > div { border-color: transparent; }
    .basic { grid-template-columns: repeat(3, 1fr); }
    .reservation { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1047px) {
    /* removes border */
    .tools { grid-template-columns: repeat(2, 1fr); }
    .basic { grid-template-columns: repeat(6, 1fr); }
    .reservation { grid-template-columns: repeat(4, 1fr); }
}