.tools { display: grid; grid-template-columns: repeat(2, 1fr); padding: 20px; }
.tools > div:nth-child(2) { text-align: right; }

.dashboardItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 15px;

    padding: 30px 15px 10px 15px;
}

.dashboardItems > div {
    border-radius: 15px;
    padding: 15px;
    background: var(--lighter);
}

.dashboardItems h3 {
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.dashItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.dasher {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: var(--fourth);

    color: var(--white);
    overflow: hidden;
    opacity: 1;
    will-change: background, transform;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.dasher:hover {
    transform: scale(1.01);
}

.dasher > div {
    position: absolute;
    top: 50%; left: 0; right: 0;
    padding: 10px;
    overflow: hidden;
    transform: translateY(-50%);
}

.dasher:before {
    content: "";
    display: block;
    padding-top: 90%;
}

.dasher svg {
    display: block;
    width: 30px;
    padding-bottom: 5px;
    height: auto;
    margin: 0 auto;
}

.dasher small { display: inline-block; color: var(--fifth); font-size: 14px; padding-top: 2px; }



/*.reservation, .basic, .tools {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    padding: 10px;
}

columns
.basic { grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); padding: 30px 10px 10px 10px; }
.reservation { grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
.tools { grid-template-columns: repeat(2, 1fr); padding: 20px; }

.dashItem {
    border-radius: 10px;
    padding: 55px 0 70px 0;
    text-align: center;
    background: var(--fourth);

    color: var(--white);
    overflow: hidden;
    height: 175px;
    opacity: 1;
    will-change: background, transform;
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dashItem small { display: inline-block; color: var(--fifth); font-size: 14px; padding-top: 2px; }

.dashItem:hover {
    background-color: #333948;
    transform: scale(1.01);
}

.dashItem svg {
    display: block;
    width: 30px;
    padding-bottom: 5px;
    height: auto;
    margin: 0 auto;
}

.tools > div:nth-child(2) { text-align: right; }

.basic a { margin-bottom: 0; background-color: var(--lighter); } removes item margin */