.fabButton {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
    border: none;
    height: 85px;
    width: 85px;
    border: 10px solid var(--first);
    border-radius: 30px;
    background: linear-gradient(270deg,#f5af19,#f12711);
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in, border 0.3s ease-out;
    will-change: border, opacity;
    z-index: 65;
}

.hide {
    transform: translate(-50%, -50%) scale(1.04);
    opacity: 0;
}

.fabButton:hover {
    border: 7px solid var(--first);
}

.fabButton svg {
    height: auto;
    width: 30px;
    vertical-align: middle;
}