.header {
    padding: 75px 15px 30px 15px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(90deg,#fa8142, #ff4088);
}

.header h2 + p {
    margin-top: 3px;
}

.header div p {
    margin: 0;
}

.header div p + p {
    margin-top: 3px;
}

.skipButton {
    display: block;
    margin: 0 auto;
    color: var(--orange);
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
}