.header {
    padding: 100px 15px 30px 15px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(90deg,#fa8142, #ff4088);
}

.header h2 + p {
    margin-top: 3px;
}

.header div p {
    margin: 0;
}

.header div p + p {
    margin-top: 3px;
}

.skipButton {
    display: block;
    margin: 0 auto;
    color: var(--red);
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
    transform: scale(1);
    opacity: 0.9;
    will-change: transform, opacity;
    transition: transform 0.3s, opacity 0.3s;
}

.skipButton:hover {
    transform: scale(1.05);
    opacity: 1;
}