.item {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 5px 10px;
    will-change: background;
    transition: background 0.3s ease-in-out, 0.5s ease-out border-image;
}

.item:hover { background-color: rgba(255,255,255,0.03); }

.item svg, .image {
    display: inline-block;
    vertical-align: middle;
}

.item svg { width: 20px; height: 45px; }
.item svg:not([color]) { color: #6c7293; }
.grey svg, .current svg { color: #fc424a !important; }

.image img { width: 100%; height: auto; }
.image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #323643;
    color: transparent;
}

.item p {
    display: inline-block;
    max-width: 100%;
	line-height: 22px;
    vertical-align: middle;
    padding: 5px 0;
    margin: 0;
}

.item svg + p, .item .image + p { padding-left: 12.5px; max-width: calc(100% - 30px); }
.item small { display: block; color: #6c7293; font-size: 0.86em; }

.item .image + p {
    max-width: calc(100% - 50px);
}

.clean { 
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #373349) 0 1 100%;
}

.clean:last-child, .clean:hover { border-image: linear-gradient(to right, transparent, transparent) 0 1 100%; border-radius: 10px; }

.info, .grey {
    background-color: rgba(255,255,255,0.04);
    margin-bottom: 10px;
    border-radius: 10px;
}

.grey, .current { color: #fc424a; }


