.item {
    position: relative;

    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    min-height: 55px;
    padding: 0 12px;

    cursor: pointer;
    transition: background 0.3s ease-in-out, 0.5s ease-out border-image;
    will-change: background;
    border-radius: 10px;
}

.item:hover { background-color: var(--lighter); }

.item p {
	line-height: 22px;
    padding: 5px 0 5px 0;
    margin: 0;
    flex-grow: 1;
}

.item small { display: block; color: var(--fifth); font-size: 0.86em; }
.warning small, .success small { color: var(--white); } 

.info, .grey, .warning { background-color: var(--lighter); margin-bottom: 15px; }
.warning { background: linear-gradient(90deg,#fa8142, #ff4088); font-weight: bolder; transition: 0.3s opacity; }
.success { background: linear-gradient(90deg,#05ae4e, #00d25b); font-weight: bolder; transition: 0.3s opacity; }

/* SVG COLOR */
.item svg { flex-shrink: 0; width: 20px; }
.item svg:not([color]) { color: var(--fifth); }
.grey svg, .current svg, .grey, .current { color: var(--red) !important; }
.warning svg,
.success svg { color: var(--white) !important; }

.image {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 28% 28% 28% 28% / 30% 30% 30% 30%;
    background-color: #323643;
    color: transparent;
    margin: 5px 0;
}

.image img { width: 100%; height: auto; }

.clean { 
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, #373349) 0 1 100%;
}

.clean:last-child, .clean:hover { border-image: linear-gradient(to right, transparent, transparent) 0 1 100%; }
.warning:hover, .success:hover { opacity: 0.8; }

