.masonryList {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.masonryList > div {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    color: var(--white);
}

.chunk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(14, calc(((100vw / 2) - 15px) / 3));
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-bottom: 15px;
}

.chunk > div {
    will-change: transform;
    overflow: hidden;
}

.chunk strong {
    display: block;
    padding: 5px;
    cursor: default;
}

.chunk a {
    display: block;
    height: calc(100% - 40px);
    border-radius: 22px / 20px;
    background-color: var(--fourth);
}

.chunk img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 22px / 20px;
    transition: transform 0.5s;
    transform: scale(1);
    
    overflow: hidden;
}

h3 {
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--white);
}

.chunk > div a:hover img, .chunk > div a:active img, .chunk > div a:focus img {
    transform: scale(1.01);
}

.item_0, .item_5, .item_3, .item_8 { grid-column-start: 1; grid-column-end: 2; }
.item_1, .item_6, .item_2, .item_7, .item_4, .item_9 { grid-column-start: 2; grid-column-end: 3; }

.item_0 { grid-row-start: 1; grid-row-end: 5; }
.item_1 { grid-row-start: 1; grid-row-end: 3; }
.item_2 { grid-row-start: 3; grid-row-end: 6; }
.item_3 { grid-row-start: 5; grid-row-end: 8; }
.item_4 { grid-row-start: 6; grid-row-end: 8; }
.item_5 { grid-row-start: 8; grid-row-end: 12; }
.item_6 { grid-row-start: 8; grid-row-end: 10; }
.item_7 { grid-row-start: 10; grid-row-end: 13; }
.item_8 { grid-row-start: 12; grid-row-end: 15; }
.item_9 { grid-row-start: 13; grid-row-end: 15; }

@media (min-width: 693px) {
    .chunk {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(10, 80px);
    }

    .item_2 { grid-area: 1 / 3 / 4 / 4; }
    .item_0 { grid-area: 1 / 1 / 5 / 2; }
    .item_1 { grid-area: 1 / 2 / 3 / 3; }
    .item_6 { grid-area: 6 / 2 / 10 / 3 }
    .item_4 { grid-area: 5 / 1 / 9 / 2; }
    .item_3 { grid-area: 3 / 2 / 6 / 3; }
    .item_5 { grid-area: 4 / 3 / 8 / 4; }
    .item_7 { grid-area: 9 / 1 / 12 / 2; }
    .item_8 { grid-area: 10 / 2 / 12 / 3; }
    .item_9 { grid-area: 8 / 3 / 12 / 4; }
}


@media (min-width: 1047px) {
    .chunk {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 105px);
    }

    .item_0, .item_4, .item_8, .chunk.even .item_6 { grid-column-start: 1; grid-column-end: 2; }
    .item_1, .item_5, .chunk.even .item_4, .chunk.even .item_8 { grid-column-start: 2; grid-column-end: 3; }
    .item_2, .item_6, .item_9, .chunk.even .item_5 { grid-column-start: 3; grid-column-end: 4; }
    .item_3, .item_7, .chunk.even .item_9 { grid-column-start: 4; grid-column-end: 5; }


    .item_0, .item_2, .chunk.even .item_1, .chunk.even .item_3 { grid-row-start: 1; grid-row-end: 3; }
    .item_1, .chunk.even .item_2 { grid-row-start: 1; grid-row-end: 4; }
    .item_3, .chunk.even .item_0 { grid-row-start: 1; grid-row-end: 5; }
    .item_4, .chunk.even .item_9 { grid-row-start: 3; grid-row-end: 5; }
    .item_5 { grid-row-start: 4; grid-row-end: 8; }
    .item_6, .chunk.even .item_4 { grid-row-start: 3; grid-row-end: 6; }
    .item_7, .item_8, .chunk.even .item_6, .chunk.even .item_7 { grid-row-start: 5; grid-row-end: 8; }
    .item_9, .chunk.even .item_8 { grid-row-start: 6; grid-row-end: 8; }
}