.textHeader {
	display: flex;
	align-items: center;
	gap: 20px;

	padding: 70px 15px 15px 15px;
}

.textHeader > div {
	flex-grow: 1;
	width: 100%;
}

.textHeader h1 { padding-bottom: 15px; }

.textHeader h1 + p {
	margin: -10px 0 0 0;
	color: var(--fifth);
	font-size: 18px;
	line-height: 1.3em;
}

.image {
	flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #323643;
    color: transparent;
    margin: 5px 0;
}

.image img { width: 100%; height: auto; }
.textHeader svg { width: 35px; height: auto; }