.backButton {
    position: fixed;
    top: 12px; left: 15px;
	padding: 0 12px 2px 8px;
	border-radius: 25px;
    line-height: 34px;
    color: var(--red);
	z-index: 50;
	background-color: var(--first);
	animation: 0.3s ease-in-out 0s 1 slideInFromLeft;
    transition: 0.3s background ease-in-out, 0.3s;
    will-change: background;
}

.backButton:hover { background-color: rgba(24, 17, 34, 0.5); }

.backButton span::before {
	border-style: solid;
	border-width: 2px 2px 0 0;
	content: '';
	display: inline-block;
	height: 10px;
	width: 10px;

	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: middle;
    margin-right: 7px;
    
    left: 0.25em;
    transform: translateY(-3px) rotate(-135deg);
}

@keyframes slideInFromLeft {
	0% {
	  transform: translateX(15px);
	  opacity: 0.5;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
}