.modal {
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
  
    z-index: 70;
  
    width: 100%;

    height: calc(100% + 100px);
    min-height: -webkit-fill-available;
    padding-bottom: 140px;

    overflow-y: auto;
    background-color: #20192a;
    transition: max-width 0.3s ease-in-out;
    overscroll-behavior-y: contain;
  }
  
  .content {
    overflow: auto;
    min-height: 100%;
    padding: 10px 15px;
  }
  
  @media (min-width: 693px) {
    .modal {
        top: 75px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        height: 80%;
        width: 100%;
        padding-bottom: 40px;

        max-width: 500px;
        max-height: 700px;
        min-height: 80%;

        border-radius: 10px;
    }

    .modal.large {
      max-width: 1024px;
    }
  }