.price {
    background: rgb(255,199,8);
    background: linear-gradient(90deg, rgba(255,199,8,1) 0%, rgba(255,160,71,1) 100%);
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.price strong {
    display: block;
    background-color: white;
    border-radius: 20px;
    color: rgb(255,199,8);
    padding: 10px;
    text-shadow: none;
    max-width: 100px;
}