.comment {
    background-color: rgba(255,255,255,0.05);
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
}

.upvote {
    border-top: 1px solid rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.upvote button {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0 10px;
    color: #ccc;
    cursor: pointer;
}

.upvote button:disabled { opacity: 0.5; cursor: not-allowed; }

.image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.05);
    color: transparent;
}

.image + div {
    width: calc(100% - 50px);
    padding-left: 15px;
}