.checkbox {
    display: block;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.03);
    margin-bottom: 10px;
    padding: 2.5px 10px;

    will-change: background;
    transition: background 0.3s ease-in-out;
}

.list {
    margin-bottom: 0;
    background-color: transparent;
}

.checkbox:hover { background-color: rgba(255,255,255,0.05); }

.checkbox label {
    display: inline-block;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 15px 10px 15px 0;
    pointer-events: none;
    width: calc(100% - 40px);
    transition: border 0.3s ease-in-out;
}

.list label { border-bottom: 1px solid #373349; }
.list:hover label {
    border-color: transparent;
}

.checkbox span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    vertical-align: -6px;
    margin-right: 15px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);
}

.checkbox span::before,
.checkbox span::after {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #FFF;
    position: absolute;
    transform-origin: 0% 0%;
}

.checkbox span::before {
    transform: rotate(45deg);
    top: 12px;
    left: 8px;
    transition: width 50ms ease 50ms;
  }

  .checkbox span:after {
    transform: rotate(305deg);
    top: 16px;
    left: 9px;
    transition: width 50ms ease;
  }

.checkbox:hover span::before { width: 5px; transition: width 100ms ease; }
.checkbox:hover span::after { width: 10px; transition: width 150ms ease 100ms; }

.checkbox input { display: none; }

.checkbox input:checked + span { 
    background-color: #fc424a;
    border-color: #fc424a;
    transform: scale(1.2);
}

.checkbox input:checked + span::before,
.checkbox:hover input:checked + span::before {
    width: 5px;
    background: #FFF;
    transition: width 150ms ease 100ms;
}

.checkbox input:checked + span::after,
.checkbox:hover input:checked + span::after {
    width: 10px;
    background: #FFF;
    transition: width 150ms ease 100ms;
}

.checkbox input:checked:hover + span { background-color: #fff; transform: scale(1.2); }