.solid, .outline {
    display: block;
    color: var(--white);
    border-radius: 22.5px;
    font-weight: bold;
    border: none;
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    height: 42px;
    font-size: 15px;
    transform: scale(1);
    opacity: 0.93;
    will-change: opacity, transform;
    transition: opacity 0.3s ease-out, height 0.3s, transform 0.3s, background-image 0.3s;
}

.solid:active, .outline:active {
    transform: scale(0.98);
}

.solid:hover, .outline:hover {
    opacity: 1;
}

.solid {
    background-color: var(--red);
    background-image: linear-gradient(90deg,#fa8142, #ff4088);
}

.outline {
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.solid:disabled, .outline:disabled {
    opacity: 0.5;
}

.clicked {
    background-image: linear-gradient(90deg,#864321, #7b2042);
}

.solid > div { transform: scale(1); transition: 0.2s transform; }
.clicked > div { transform: scale(0.8); }
