.solid, .outline {
    display: block;
    color: var(--white);
    border-radius: 22.5px;
    border: none;
    padding: 0 20px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    height: 40px;
    font-size: 16px;
}

.solid {
    background-color: var(--red);
}

.outline {
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.solid:disabled, .outline:disabled {
    opacity: 0.5;
}