.textHeader {
	display: flex;
	align-items: center;
	gap: 20px;

	padding: 80px 15px 30px 15px;
}

.textHeader > div {
	flex-grow: 1;
	width: 100%;
	/* min-height: 158px; */
}

.textHeader h1 {
	padding-bottom: 15px;
	font-weight: 800;
}

.textHeader p {
	margin: -10px 0 0 0;
	color: var(--fifth);
	font-size: 18px;
	line-height: 1.3em;
}

.textHeader .hideText p {
	position: relative;
	max-height: 3.9em;
	text-overflow:ellipsis;
	overflow:hidden;

	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.textHeader div.hideText::after {
	cursor: pointer;
	display: inline-block;
	content: 'Mehr erfahren';
	margin-top: 0.2em;

	font-size: 14px;
	line-height: 1.3em;
	font-weight: 500;
	letter-spacing: 1px;
	color: #4a4965;
    border-bottom: 1px solid #313139;
}

.image {
	flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 28% 28% 28% 28% / 30% 30% 30% 30%;
    background-color: #323643;
    color: transparent;
    margin-top: 5px;
}

.image img { width: 100%; height: auto; }
.textHeader svg { width: 35px; height: auto; }