.header {
	min-height: 60px;
	width: 100%;
	background: transparent;
	overflow: hidden;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}

.invert {
	position: absolute;
	top: 0; right:0; left: 0;
}

.fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
}

.title { 
	width: clamp(100% - 110px, 272px, 100% - 55px);
	pointer-events: none;
}

.title h1 {
	font-size: 17px;
	font-weight: 600;
	color: var(--white);
}

.menu { 
	width: 55px;
	padding-right: 15px;
}

.menu button {
	color: #ed576b;
	background-color: #232732;

    height: 40px;
    width: 40px;
    padding: 8px;

	transition: 0.3s transform;
	transform: scale(1);

	border-radius: 50%;
	transition: 0.3s transform;
	will-change: background, transform;
}

.menu svg {
	vertical-align: middle;
}

.menu button:hover { background-color: var(--white); transform: scale(1.02) }

.invert .button { background-color: rgba(255,255,255,0.5); }