:root {
    /* TEXT COLOR */
    --white: #f2f2f2;
    --red: #f04c54;
    --orange: #ffab00;
    --blue: #0090e7;
    --green: #00d25b;
    --lila: #8f5fe8;
    --olive: #0a717c;

    /* DARK COLORS */
    --dark: #111218; /* black */

    --first: #191C25; /* background */
    --second: #20192a; /* modal */

    --third: #232732; /* group */
    --fourth: #2b303d; /* group heading */

    --fifth: #6c7293; /* text color */

    --lighter: rgba(255, 255, 255, 0.05);
    --darker: rgba(24, 17, 34, 0.4);
}

.main-bg { background-color: var(--first); }

.blue-bg {
    background: rgb(42,178,248);
    background: linear-gradient(90deg, #038aff 0%, #4cadfe 100%);
}

.orange-bg {
    background: rgb(255,199,8);
    background: linear-gradient(90deg,#fa8142, #ff4088);
}

.red-bg {
    background: rgb(255, 8, 88);
    background: linear-gradient(90deg, rgb(255, 8, 88) 0%, rgb(189, 46, 46) 100%);
}

/*
COLOR LIST
color: #b9d6fe; Hell Blau
color: #3ca7ef; Blau
color: #25a7ff; Dunkel Blau

color: #fdcd79; Gelb
color: #eca975; Hell Orange
color: #fb823b; Orange
color: #ff663d; Dunkel Orange

color: #f571aa; Hell Rot
color: #c2429f; Lila
color: #b555dd; Dunkel Lila
*/

