.red { color: #fc424a }
.orange { color: #ffab00 }
.blue { color: #0090e7 }
.green { color: #00d25b }
.lila { color: #8f5fe8 }
.grey { color: #6c7293 }
.olive { color: #0a717c }
.main-bg { background-color: #191C25; }

.blue-bg {
    background: rgb(42,178,248);
    background: linear-gradient(90deg, #038aff 0%, #4cadfe 100%);
}

.orange-bg {
    background: rgb(255,199,8);
    background: linear-gradient(90deg, rgba(255,199,8,1) 0%, rgba(255,160,71,1) 100%);
}

.red-bg {
    background: rgb(255, 8, 88);
    background: linear-gradient(90deg, rgb(255, 8, 88) 0%, rgb(189, 46, 46) 100%);
}