.size_holder, .medium_size_holder, .small_size_holder, .mini_size_holder {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.size_holder { max-width: 1280px; }
.medium_size_holder { max-width: 1100px; }
.small_size_holder { max-width: 728px; }
.mini_size_holder { max-width: 500px; }
