@import './holder.css';
@import './colors.css';
@import './scrollBar.css';
/* || ALLGEMEINE STYLES */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #191C25;
}

body { 
	font-size: 15px;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

* { box-sizing: border-box; }

h1, h2, h3, h4 { 
	letter-spacing: -.025em;
	font-weight: bolder;
	margin: 0;
}

blockquote { background-color: #6c7293; }
a { color: white; text-decoration: none; }

button {
	touch-action: manipulation; /* prevents double tap zooming */
	outline: none;
}

button:empty { display: none; }

a, button, input, div[role=button] {
    -webkit-tap-highlight-color: transparent;
}

/* || LAYOUT */

section.group {
	background-color: #232732;
	padding: 15px;
}

section.group h3 {
	display: block;
	background-color: #2b303d;
	font-size: 17px;
	margin: -15px -15px 15px -15px;
	padding: 15px;
	border-radius: 15px 15px 0 0;
}

section.group.form {
	border-radius: 20px;
	margin-bottom: 15px;
}

section.group > div:last-child { margin-bottom: 0; }

code {
	display: block;
	font-size: 12px;
    background: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 15px;
	margin-bottom: 10px;
}

code span { display: block; }
