@import './holder.css';
@import './colors.css';
@import './scrollBar.css';
@import './text.css';

/* || ALLGEMEINE STYLES */
* { box-sizing: border-box; }

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: calc(100vh + 60px);
	min-height: -webkit-fill-available;

	padding-bottom: 100px;

	font-size: 15px;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	color: var(--white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	padding-bottom: 40px;
}

::selection {
	background: var(--lila);
	color: var(--white);
}

button { 
	touch-action: manipulation;
	text-align: center;
	cursor: pointer;
	border: none;
} /* prevents double tap zooming */

button:empty { display: none; }

a, button, input, div[role=button], textarea {
    -webkit-tap-highlight-color: transparent;
	outline: none;
}

/* || LAYOUT */

section.group {
	background-color: var(--third);
	padding: 10px;
}

section.group h3,
section.group h4 {
	display: block;
	background-color: var(--fourth);
	font-size: 17px;
	margin: -10px -10px 10px -10px;
	padding: 15px;
	border-radius: 15px 15px 0 0;
}

section.group h4 {
	border-radius: 0;
	margin-top: 0;
}


section.group.form {
	border-radius: 20px;
	margin-bottom: 20px;
}

section.group > div:last-child { margin-bottom: 0; }

