/* custom scrollbar */
body::-webkit-scrollbar { width: 0; }

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
	background-color: transparent;
  }

  ::-webkit-scrollbar
  {
	visibility: hidden;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 8px;
	border: 2px solid transparent;
	background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--red);
  }