.counter {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;;
    line-height: 22px;
    min-height: 60px;
    align-items: center;
    padding: 0 10px;

    background-color: var(--fourth);
}

.counter > svg {
    width: 40px;
    display: inline-block;
    padding-right: 5px;
    color: var(--fifth);
    vertical-align: middle;
}

.counter > div svg {
    height: 20px;
    width: 22px;
}

.counter label {
	line-height: 22px;
    font-size: 16px;
    padding: 5px 0;
    margin: 0;
    flex-grow: 1;
}

.counter label small { display: block; color: var(--fifth); font-size: 0.86em; }

.counter > div {
    display: flex;
    width: 117px;
}

.counter:last-child {
    margin-bottom: 0;
}

.counter input {
    background-color: transparent;
    font-size: 20px;
    color: var(--white);
    border: none;
    width: 45px;
    text-align: center;
    -webkit-appearance: none;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter button {
    display: flex;
    place-items: center;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    color: var(--red);
    background-color: transparent;
    outline: none;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.27);
    border: 2px solid var(--red);

    cursor: pointer;
    font-weight: 700;

    transform: scale(1);
    transition: 0.3s ease-out transform;
    will-change: tranform;
}

.counter button:hover {
    transform: scale(1.05);
}

.group {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 0;
}
.group + .group { 
    border-radius: 0;
    border-top: none;
}

.group + .counter:not(.group) {
    border-radius: 0 0 10px 10px;
}

.group + a {
    border-radius: 0 0 10px 10px;
}

.group:last-child {
    border-radius: 10px;
}