.counter {
    display: inline-block;
    width: calc(50% - 7.5px);
    max-width: 250px;
    margin-bottom: 15px;
}

.large {
    width: 100%;
    max-width: 100%;
}

.counter + .counter {
    margin-left: 15px;
}

.counter > div {
    border-radius: 15px;
    overflow: hidden;
    display: flex;
}

.counter input {
    opacity: 0.5;
    -webkit-appearance: none;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter input, .counter button {
    display: block;
    height: 45px;
    width: calc(100% / 3);
    text-align: center;
    line-height: 45px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

.counter svg {
    height: 43px;
}

.counter label {
    display: block;
    padding-bottom: 5px;
    margin: 0;
}

.counter button {
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
}


.small > div { background-color: #2b303d; }

.large > div {
    max-width: 400px;
    margin: 0 auto;
}

.large button {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    background-color: orange;
    color: white;
    line-height: 70px;
}