.counter {
    position: relative;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;;
    line-height: 22px;

    background-color: var(--fourth);
}

.counter > svg {
    width: 40px;
    display: inline-block;
    height: auto;
    padding-left: 15px;
    padding-right: 5px;
    color: var(--fifth);
    vertical-align: middle;
}

.counter label {
    display: block;
    padding: 15px 10px;
    margin: 0;
}

.counter > svg + label {
    display: inline-block;
    width: calc(100% - 40px);
    vertical-align: middle;
}

.counter > div {
    position: absolute;
    right: 20px;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
}

.counter input {
    background-color: transparent;
    font-size: 20px;
    color: var(--white);
    border: none;
    min-width: 70px;
    text-align: center;
    -webkit-appearance: none;
}

.counter input::-webkit-outer-spin-button,
.counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter button {
    display: block;
    height: 35px;
    line-height: 35px;
    width: 35px;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    border: none;
    outline: none;
    box-shadow: 0 0 30px rgb(0, 0, 0, 0.27);
    transform: scale(1);
    transition: 0.3s ease-out transform;
    will-change: tranform;
}

.counter button:hover {
    transform: scale(1.05);
}

.counter svg {
    height: 35px;
}

.counter button {
    border: none;
    cursor: pointer;
    font-weight: 700;
}
