.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

.activityItem {
    display: flex;
    gap: 7px;
    align-items: center;

    border-radius: 20px;
    background: var(--third);

    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.activityItem:hover { transform: scale(1.01); }

.content { flex-grow: 2; }

.image {
    width: 115px;
    height: 115px;
    overflow: hidden;
    border-radius: 20px;

    background-color: var(--lighter);
    color: transparent;
}

.image img { width: 100%; height: auto; }

.content h2 {
    line-height: 20px;
    color: var(--white);
    padding-top: 7px;
    padding-bottom: 7px;
}

.content small span {
    font-size: 12px;
    line-height: 16px;
    opacity: 0.9;
}

.content small {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 5px;
}

.content table {
    padding: 0;
    width: 100%;
    border: none;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    border-radius: 10px;
    overflow: hidden;
}

.content table tbody {
    width: 100%;
    display: table;
}

.content table td {
    height: 32px;
    line-height: 18px;
    padding: 0 5px;
}

.content table tr:first-child td:nth-child(even),
.content table tr:nth-child(2) td:nth-child(odd) {
    background-color: rgba(255,255,255,0.01);
}
