.container {
    margin-bottom: 15px;
    width: 100%;
}

.container > div {
    background-color: var(--fourth);
    border-radius: 10px;
}

.container svg + div {
    display: inline-block;
    width: calc(100% - 40px);
    vertical-align: middle;
}

.container svg {
    width: 40px;
    display: inline-block;
    height: auto;
    padding-left: 15px;
    padding-right: 5px;
    color: var(--fifth);
    vertical-align: middle;
}

.errorMessage { color: rgba(252, 66, 75, 0.5); }
.container .valid { border: 1px solid rgba(0, 210, 91, 0.5); }
.container .error, .container .invalid { border: 1px solid rgba(252, 66, 75, 0.5); }

.container button {
    position: relative;
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: transparent;

    font-size: inherit;
    font-weight: inherit;
    text-align: left;
    color: #8184a1;
    
    cursor: pointer;
    outline: none;
}

.container button::before {
    content: "";
    display: block;

    height: 0.45em;
    width: 0.45em;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(135deg) scale(1.5);


    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: rgba(255,255,255,0.3);

    transition: 0.3s transform ease-out, border-color 0.6s ease-out;
}

.container button:hover::before {
    transform: translateY(-50%) rotate(135deg) scale(1.6);
    border-color: var(--white);
}

.container button:empty::after {
    content: attr(placeholder);
    color: var(--fifth);
}

.container label {
    display: block;
    color: var(--white);
    transition: 0.2s ease-in-out transform;
    font-size: 14px;
    padding: 5px 10px 0 10px;
}

.container .disabled, input:disabled {
    opacity: 0.5;
}

.search {
    display: block;
    width: calc(100% - 20px);
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--fourth);
    font-size: 15px;
    color: var(--white);
}