.price {
    color: var(--white);
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
}

.price div {
    width: calc(100% - 100px);
    font-weight: bolder;
}

.price strong {
    display: block;
    width: 100px;
    padding: 20px;
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
    color: #ffa500;
}
