.chip {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    margin: 7.5px 2.5px;
    cursor: pointer;

    font-size: 15px;
    font-weight: bold;
    height: auto;
    transform: scale(1);

    transition: background 0.2s ease-out, opacity 0.3s ease-in-out, border 0.2s ease-out;
    will-change: background;
}

.chip:hover {
    opacity: 0.8;
}

.chip svg {
    display: inline-block;
    vertical-align: middle;
    padding-right: 6px;
    margin-left: -5px;
    padding-bottom: 2px;
    width: 30px;
    height: auto;
}

.inactive {
    border: 1px solid var(--red);
    background-color: #342935;
    color: var(--red);
}

.active {
    border: 1px solid var(--orange);
    background-color: #342935;
    color: var(--orange);
}

.warning {
    background-color: var(--orange);
    color: var(--dark);
}

.delete {
    background-color: transparent;
    color: var(--red);
}

.disabled {
    background-color: #222631;
    color: var(--fifth);
}

.grey {
    background-color: var(--fourth);
    color: #ffab02;
}

.small {
    border-radius: 7px;
    padding: 7px 15px;
}