.openings {
    padding: 0;
    width: 100%;
    border: none;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid var(--third);
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
}

.openings div {
    display: block;
    line-height: 1.5em;
    padding: 7px 10px;
    min-width: 160px;
    flex-grow: 1;
}

.openings strong {
    color: var(--white);
}

.openings div:nth-child(even) {
    background-color: rgba(255,255,255,0.01);
}