.container {
    margin-bottom: 15px;
    width: 100%;
}

.container > div {
    background-color: var(--fourth);
    border-radius: 10px;
    width: auto;
    vertical-align: middle;
}

.container svg {
    width: 40px;
    display: inline-block;
    height: auto;
    padding-left: 15px;
    padding-right: 5px;
    color: var(--fifth);
    vertical-align: middle;
}

.container svg + div {
    display: inline-block;
    width: calc(100% - 40px);
    vertical-align: middle;
}

.errorMessage { color: rgba(252, 66, 75, 0.5); }
.valid { border: 1px solid rgba(0, 210, 91, 0.5); }
.error, .invalid { border: 1px solid rgba(252, 66, 75, 0.5); }

.container input, .container textarea {
    display: block;
    line-height: 2em;
    margin: 0;
    padding: 9px 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    color: #8184a1;
    text-align: left;
}

.container label + input, .container label + textarea {
    padding: 5px 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: var(--fifth);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--fifth);
  }
  
  ::placeholder {
    color: var(--fifth);
  }

.container label {
    display: block;
    color: var(--white);
    transition: 0.2s ease-in-out transform;
    font-size: 15px;
    padding: 5px 10px 0 10px;
}

.container .disabled, input:disabled, textarea:disabled {
    opacity: 0.5;
}

.container textarea {
    resize: none;
    line-height: 1.5em;
    font-family: inherit;
    overflow: auto; /* hides scrollbar, but puts back if needed */
}

.container > div.disabled:not(.error) {
    border: 1px solid var(--orange);
} 

.multi input:nth-child(odd) {
    border-top: 1px solid rgba(255,255,255,0.05);
}

.multi input:nth-child(even)::before {
    content: 'von';
    color: rgba(255,255,255,0.5);
    padding-right: 10px;
    font-size: 13px;
}

.multi input:nth-child(odd)::before {
    content: 'bis';
    color: rgba(255,255,255,0.5);
    padding-right: 10px;
    font-size: 13px;
}

.container input[type="date"]::-webkit-calendar-picker-indicator,
.container input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(50%) sepia(80%) saturate(10000%);
    transform: scale(1.2);
    cursor: pointer;
}