.inputEl {
    margin-bottom: 15px;
    width: 100%;
}

.inputEl > div {
    background-color: #2b303d;
    border-radius: 10px;
    width: auto;
    vertical-align: middle;
}

.inputEl svg {
    width: 40px;
    display: inline-block;
    height: auto;
    padding-left: 15px;
    padding-right: 5px;
    color: #6c7293;
    vertical-align: middle;
}

.inputEl svg + div {
    display: inline-block;
    width: calc(100% - 40px);
    vertical-align: middle;
}

.inputEl .valid { border: 1px solid rgba(0, 210, 91, 0.5); }
.inputEl .error,
.inputEl .invalid { border: 1px solid rgba(252, 66, 75, 0.5); }
.errorMessage { color: rgba(252, 66, 75, 0.5); }

.inputEl input, .inputEl textarea {
    display: block;
    line-height: 2em;
    margin: 0;
    padding: 9px 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 500;
    color: #999999;
    outline: none;
}

.inputEl label + input, .inputEl label + textarea {
    padding: 5px 10px;
}

::-webkit-input-placeholder { /* Edge */
    color: #6c7293;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #6c7293;
  }
  
  ::placeholder {
    color: #6c7293;
  }

.inputEl label {
    display: block;
    color: #FFFFFF;
    transition: 0.2s ease-in-out transform;
    font-size: 15px;
    padding: 5px 10px 0 10px;
}

.inputEl .disabled, input:disabled, textarea:disabled {
    opacity: 0.5;
}

.inputEl textarea {
    resize: none;
    line-height: 1.5em;
    font-family: inherit;
    overflow: auto; /* hides scrollbar, but puts back if needed */
}

.inputEl > div.disabled:not(.error) {
    border: 1px solid #ffab00;
} 

.multi input:nth-child(odd) {
    border-top: 1px solid rgba(255,255,255,0.05);
}

.multi input:nth-child(even)::before {
    content: 'von';
    color: rgba(255,255,255,0.5);
    padding-right: 10px;
    font-size: 13px;
}

.multi input:nth-child(odd)::before {
    content: 'bis';
    color: rgba(255,255,255,0.5);
    padding-right: 10px;
    font-size: 13px;
}

.inputEl input[type="date"]::-webkit-calendar-picker-indicator,
.inputEl input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(50%) sepia(80%) saturate(10000%);
    transform: scale(1.2);
    cursor: pointer;
}